POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=curry_agents

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=


API_ENV=development
API_VERSION=0.1.0
API_PREFIX=/api
API_PORT=8000