POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=curry_agents

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=


API_ENV=development
API_VERSION=0.1.0
API_PREFIX=/api
API_PORT=8000


LOG_LEVEL=INFO
CORS_ALLOW_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_METHODS=["*"]
CORS_ALLOW_HEADERS=["*"]